<span>
  <h2>{{ title }} app is running!</h2>
</span>
<div class="container">
  <h4>ParentComponent</h4>
  <p>
    To send whatever is entered in the text field to child component <br/>
    Enter the Name:
    <input type="text" class="form-control" [(ngModel)]="EnterName" /> <br/>
    Enter the Age:
    <input type="text" class="form-control" [(ngModel)]="EnterAge" /> <br/>
    Enter the Status:
    <input type="text" class="form-control" [(ngModel)]="EnterStatus" /> <br/>
    Enter the Gender:
    <input type="text" class="form-control" [(ngModel)]="EnterAge" /> <br/>
    Enter the Height:
    <input type="text" class="form-control" [(ngModel)]="EnterHeight" />  <br/>  
    <input type="button" value="send" (click)="transferData()" />
  </p>
  <app-home
    [parentData1]="parentData1"
    [parentData2]="parentData2"
    [parentData3]="parentData3"
    [parentData4]="parentData4"
    [parentData5]="parentData5"
  ></app-home>
<!-- [home-component]="app-component" -->
  <hr>
  <app-about (sendData)="sendData($event)"></app-about>
  <h4>Received from Child : {{value}}</h4>
</div>
